:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
}
body{
  background-color: var(--yellow);
  display: flex; 
  justify-content : center; 
  align-items : center; 
  min-height: 100vh;
}
.blog-card {
  width: min-content;
  background-color: var(--white);
  border-radius: 20px;
  border: 2px solid var(--gray950);
  box-shadow: 6px 6px var(--gray950)
}
.blog-image{
  padding: 24px;
}
svg{
  border-radius: 24px;
}
.info{
  padding: 0 24px 24px;
}
.tag {
  font-family: "FigTree";
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray950);
  background-color: var(--yellow);
  padding: 4px 12px;
  width: min-content;
  border-radius: 4px;
}
p:first-of-type {
  font-family: "FigTree";
  font-size: 500;
  line-height: 150%;
  font-size: 14px;
  color: var(--gray950);
}
p:nth-of-type(2) {
  font-family: "FigTree";
  line-height: 150%;
  font-size: 24px;
  font-weight: 800;
  color: var(--gray950);
}
p:nth-of-type(3) {
  font-family: "FigTree";
  font-weight: 500;
  color: var(--gray500);
  font-size: 16px;
  line-height: 150%;
}
img{
  width: 32px;
  height: 32px;
}
.author{
  display: inline-flex;
  padding-bottom: 24px;
  padding-left: 24px;
}
img{
  width: 32px;
  height: 32px;
}
.author div{
  padding: 5.5px 0 5.5px 12px;
  font-family: "FigTree";
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray950);
}
